<% if (theme.valine.enable && theme.valine.appid && theme.valine.appkey) { %>
    <link rel="stylesheet" type="text/css" href="/libs/valine/custom.css"/>

    <div id="valine-comments">
        <div id="comments-notice">
            <i class="fa fa-volume-up fa-lg fa-fw notice-icon"></i>
            温馨提示：请您务必输入文明且有用的评论信息！本站评论系统支持匿名评论，建议您评论时填写个人昵称，邮箱和个人网址可选择填写，感谢您的支持！
        </div>
        <div class="comments" id="comments"></div>
    </div>

    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <%
        var valine_uri = '//unpkg.com/valine/dist/Valine.min.js'
        if (theme.vendors.valine) {
            valine_uri = theme.vendors.valine
        }
    %>
    <script src="<%= valine_uri %>"></script>

    <script type="text/javascript">
      var GUEST = ['nick','mail','link'];
      var guest = '<%= theme.valine.guest_info %>';
      guest = guest.split(',').filter(function (item) {
        return GUEST.indexOf(item)>-1;
      });
      new Valine({
        el: '#comments' ,
        verify: '<%= theme.valine.verify %>',
        notify: '<%= theme.valine.notify %>',
        appId: '<%= theme.valine.appid %>',
        appKey: '<%= theme.valine.appkey %>',
        placeholder: '<%= theme.valine.placeholder %>',
        avatar: '<%= theme.valine.avatar %>',
        guest_info: guest,
        pageSize: '<%= theme.valine.pageSize %>' || 10,
        visitor: '<%= theme.valine.visitor %>'
      });
    </script>
<% } %>